################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Yandex.Dj/ClientApp
/Yandex.Dj/cache/yandex
**/*.user
**/.vs
**/.vscode
/build
**/bin
**/obj