################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Yandex.Dj/ClientApp
/Yandex.Dj.Console/bin/Debug/netcoreapp2.2
/Yandex.Dj.Console/obj
/Yandex.Dj.sln.DotSettings.user
/.vs
